.inner-name {
/*	display: none;
*/}


.inner-ball {
	display: none;
}

.total-balls-number {
	height: 100%;
}

.remaining-balls {
	position: relative;
	background-image: url('svg/no_ball_remain.svg');
	background-repeat: no-repeat;
	/*transform-origin: 50%;*/
   background-origin: 50%;
   	width:20vh;
	height: 20vh;

}


.total-balls-bg {
	position: absolute;
	display: flex;
	transform: scale(3);
	top:0;
	display: none;
}
.total-balls-number {
	z-index: 3;
	font-size: 2.4rem;
	font-family: "Bungee-Regular";
	color: #e0ea18;
	white-space: nowrap;
	user-select: none;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.sidebar .inner-btn {
	min-width: 100%;
	margin-bottom: 30px;
}

.sidebar-text {

	font-size: 1.4rem;
	font-family: "Bungee-Regular";
	color: #e0ea18;
	white-space: nowrap;
	user-select: none;
	width: 100%;
	text-align: center;
}
.sidebar {
	width:20vh;
	display: flex;
	flex-wrap: wrap ;
	margin: 5vh;
	z-index: 10;
}

.over-elements {
	position: absolute;
	top:0%;
	left:0%;
	z-index: 1;
		height: 100vh;
	width:  100vw;

}

.resultado {
	bottom:0;
	right:0;
	height: auto;
	width:  50vw;
	position: absolute;
}

.advertencia {
	bottom:0;
	height: auto;
	width:  100vw;
	position: absolute;
}

.intro {
	height: 100vh;
	width:  100vw;
	position: absolute;
}

.machine {
	height: 100vh;
	width:  100vw;
	position: absolute;
}

.pozo-name {
	color: #FFF;
	max-width: 10vw;
	font-size: 1.7rem;
	position: absolute;
	/*transform: translateX(100%) translateY(-100%);*/

}

.pozo-name.p01 {
		transform:translateX(320%) translateY(190%);
}

.pozo-name.p02 {
		transform: translateX(-235%) translateY(30%);
}

.pozo-name.p03 {
		transform: translateX(15%) translateY(105%);
}
.pozo-name.p04 {
		transform: translateX(10%) translateY(-280%);
}


.ques1 {
	background-color: #4e9fa8;
}
.ball {
	/*border: 1px solid blue;*/
	position: relative;
	height:10vh;
	width:10vh;
	display: flex;
	margin:0;
	padding: 0;
	overflow: visible;
	/*background-image: url('svg/ball.svg');*/
}

.ball img {
		/*border: 1px solid red;*/
		width: 100%;
		height: 100%;

}


h1 {
	padding: 0;
	margin:0;
}
h2 {
	padding: 0;
	margin:0;
}

ul {
	list-style-type: none;
	/*display: inline-flex;*/
}


.juego1 {

	flex-direction: column;

}



/* pregunta 1 styles */

.checkbox-custom, .radio-custom, .box-custom {
    opacity: 0;
    position: absolute;

}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    padding: 1rem;
   	background:  #FFF;
	transition: all 0.7s;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    /*background: #fff;*/
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
	padding:0.2rem;

}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background:  #601515;
    color: #fff;

}


.radio-custom + .radio-custom-label:before {
    border-radius: 0%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color:#FFF;

}

.radio-custom:focus + .radio-custom-label {
 	background-color:#3fba51;
 	color:#FFF; 
}


/* pregunta 2 styles */
.box {
	display: flex;
	border: 1px solid #601515;
	margin: 1rem;
	align-items: baseline;

}


.box-custom-label {
	
	text-align: center;
	margin: 2rem;
	align-self: flex-end;

}

.box-01 {
	height: 0.5rem;
	margin-top: 3.5rem;
}

.box-02 {
	height: 2rem;
	margin-top: 2rem;

}

.box-03 {
	height: 3rem;
	margin-top: 1rem;

}

.box-04 {
	height: 4rem;
	margin-top: 0rem;

}



.frecuency-container {
	width:60vw;
	flex-direction: row;
	align-items:baseline;
}

.ilust-container {
	width:40vw;
}

.body-juego1 {
	flex-direction: row;
	display: flex;
	align-items: center;
}

.alumnos-container {
	width:100vw;
	flex-direction: row;
	flex-wrap: wrap; 
}

.alumnos-container ul {
	display: inline-flex!important;
}

.instrucciones-player {
	font-size: 2rem;
	font-family: "Bungee-Regular";
	

}

.instrucciones-title {
	margin:0;
}
.instrucciones-text {
	max-width: 60vw;
	font-size: 1.2rem;
}


.header-juego1 {

	flex-direction: row;
	flex-wrap: nowrap;
	display: flex; 
}


.header-left {
	width:30vw;	
	display: flex;
	flex-direction: row;
	align-items: center;


}

.header-right {
	width:60vw;
	padding:2rem 3rem;
	display: inline-block;
}


.header-resultados {

	flex-direction: column;
	flex-wrap: nowrap;
	display: flex;
	width: 92vw;
}


.button-wrapper {
	width:300px;
	display: inline-block;
	margin-top: 3rem;
}
.button-wrapper .inner-btn {
	min-width: 500px;
	max-width: none;
	padding:1rem 6rem;


}

.splash {
	background-color: #F2C85F;
	justify-content: center;

}

.list {
	flex-direction: column;
}

.ul-alumnos {

	padding: 0 3rem;
}
.li-alumnos {

	list-style: none;
	user-select: none;
	border-top: 1px solid  #601515;
	padding:  2rem;
	font-size: 1.5rem;
	justify-content: space-between;
	cursor: pointer;
	display: flex;
}
.li-alumnos.a {
	width: 100%;
	display: flex;
}

.li-alumnos.listo {

	background-color: #3fba51;
	color: #FFF;

}
.inner-btn.listo {
	background-color: transparent;
	border: 1px solid #FFF;
}

.inner-btn {

	-moz-border-radius: 4px / 4px;
	-webkit-border-radius: 4px 4px;
	border-radius: 4px / 4px; 
	color:#FFF;
	background-color: #795acc;
	min-width: 200px;
	max-width: 300px;
	padding:0.8rem 0.2rem;
	text-align: center;
	user-select: none;
	cursor: pointer;
	font-size: 2rem;
	transition: all 1s;
}




.full-width {
	width :100vw;
}


.full-heigth {
	height :100vh;
}

.ques1 {}
.ques2 {}
.jue1	{}
.jue2	{}


.adv1	{
	background-color: #f2c85f;
}

.adv2	{
	background-color: #eaa56c;
}

.adv3	{	
	background-color: #e86767;
}


.fin	{}


.container {
	margin:	 0;
	padding: 0;
	width: 	100vw;
	height:	100vh;
	display: flex;
}

.splash-ilust {
    width: 100%;
    height: 100%;
}




body {
	margin: 0;
	padding:0;
	font-family: 'ElegantLux-Mager';
	color: #601515;

	/*transition: all 1s;*/
}

@font-face{ 
	font-family: 'Bungee-Regular';
	src: url('fonts/Bungee-Regular-webfont.woff') format('woff');
}

@font-face{ 
	font-family: 'ElegantLux-Mager';
	src: url('fonts/ElegantLux-Mager.woff') format('woff');

}

/*SVG nasty injections */


	.splash0{fill:#F2C85F;}
	.splash1{fill:#F2D3AD;}
	.splash2{fill:#674C91;}
	.splash3{fill:#DCFFC5;}
	.splash4{fill:#8BAA77;}
	.splash5{clip-path:url(#SVGID_2_);fill:#F1F3F7;}
	.splash6{opacity:0.4;clip-path:url(#SVGID_2_);fill:#DCDDE0;}
	.splash7{clip-path:url(#SVGID_2_);fill:#0076B7;}
	.splash8{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.splash9{clip-path:url(#SVGID_2_);}
	.splash10{fill:#FFFFFF;}
	.splash11{fill:#F7CFA2;}
	.splash12{fill:#ECB8FF;}
	.splash13{fill:#393D47;}
	.splash14{fill:#E86767;}
	.splash15{opacity:0.1;fill:#3C2813;}
	.splash16{fill:#EEEBE7;}
	.splash17{fill:#3C2813;}
	.splash18{fill:#795ACC;}
	.splash19{fill:none;}
	.splash20{fill:#601515;}
	.splash21{clip-path:url(#SVGID_6_);fill:#F7EFDF;}
	.splash22{fill:#3EBA50;}
	.splash23{display:none;opacity:0.3;}
	.splash24{fill:#F7EFDF;}
	.splash25{fill:#4E9FA8;}
	.splash26{fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
	.splash27{fill:#231F20;}
	.splash28{fill:none;stroke:#674C91;stroke-miterlimit:10;}
	.splash29{fill:#3FBA51;}
	.splash30{fill:#601515;stroke:#601515;stroke-miterlimit:10;}
	.splash31{fill:none;stroke:#601515;stroke-miterlimit:10;}
	.splash32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	.splash33{fill:url(#SVGID_9_);}
	.splash34{fill:#601515;stroke:#8C8779;stroke-width:6;stroke-miterlimit:10;}
	.splash35{fill:url(#SVGID_10_);}
	.splash36{fill:none;stroke:#4E9FA8;stroke-width:12;stroke-miterlimit:10;}
	.splash37{fill:#E0EA18;}
	.splash38{clip-path:url(#SVGID_12_);fill:#F7EFDF;}
	.splash39{fill:url(#SVGID_13_);}
	.splash40{fill:url(#SVGID_14_);}
	.splash41{fill:#EFEA35;}
	.splash42{fill:url(#SVGID_15_);}
	.splash43{fill:url(#SVGID_16_);}
	.splash44{fill:url(#SVGID_17_);}
	.splash45{fill:url(#SVGID_18_);}
	.splash46{fill:url(#SVGID_19_);}
	.splash47{fill:#C1C1B8;}
	.splash48{fill:#9B9B97;}
	.splash49{fill:#D8D8D2;}
	.splash50{opacity:0.4;}
	.splash51{opacity:0.6;}
	.splash52{fill:#CEBABA;}
	.splash53{fill:#EAEAE5;}
	.splash54{fill:url(#SVGID_20_);}
	.splash55{fill:url(#SVGID_21_);}
	.splash56{fill:url(#SVGID_22_);}
	.splash57{fill:url(#SVGID_23_);}
	.splash58{fill:url(#SVGID_24_);}
	.splash59{fill:url(#SVGID_25_);}
	.splash60{fill:url(#SVGID_26_);}
	.splash61{fill:url(#SVGID_27_);}
	.splash62{fill:url(#SVGID_28_);}
	.splash63{fill:#6BA8B2;}
	.splash64{fill:#F1F3F7;}
	.splash65{fill:#F0BA7A;}
	.splash66{opacity:0.4;fill:#DCDDE0;}
	.splash67{fill:#0076B7;}
	.splash68{opacity:0.3;}
	.splash69{fill:#DCDDE0;}
	.splash70{fill:#004868;}
	.splash71{opacity:0.1;fill:#601515;}
	.splash72{fill:#F9F9F9;}
	.splash73{fill:#24272D;}
	.splash74{fill:#EA6D50;}
	.splash75{clip-path:url(#SVGID_30_);fill:#F0BA7A;}
	.splash76{clip-path:url(#SVGID_30_);fill:#F1F3F7;}
	.splash77{opacity:0.4;clip-path:url(#SVGID_30_);fill:#DCDDE0;}
	.splash78{clip-path:url(#SVGID_30_);fill:#0076B7;}
	.splash79{clip-path:url(#SVGID_30_);fill:#FFFFFF;}
	.splash80{clip-path:url(#SVGID_30_);}
	.splash81{opacity:0.3;fill:#601515;}
	.splash82{fill:#5B1010;}
	.splash83{clip-path:url(#SVGID_32_);fill:#F1F3F7;}
	.splash84{clip-path:url(#SVGID_32_);fill:#F0BA7A;}
	.splash85{opacity:0.4;clip-path:url(#SVGID_32_);fill:#DCDDE0;}
	.splash86{clip-path:url(#SVGID_32_);fill:#0076B7;}
	.splash87{clip-path:url(#SVGID_32_);fill:#FFFFFF;}
	.splash88{clip-path:url(#SVGID_32_);}
	.splash89{fill:#1F74C9;}
	.splash90{fill:#595959;}
	.splash91{opacity:0.1;fill:#8BAA77;}
	.splash92{opacity:0.3;fill:#8BAA77;}
	.splash93{opacity:0.1;fill:#595959;}
	.splash94{opacity:0.3;fill:#595959;}
	.splash95{fill:#9E921E;}
	.splash96{clip-path:url(#SVGID_34_);fill:#F0BA7A;}
	.splash97{clip-path:url(#SVGID_34_);fill:#F1F3F7;}
	.splash98{clip-path:url(#SVGID_34_);}
	.splash99{clip-path:url(#SVGID_34_);fill:#393D47;}
	.splash100{clip-path:url(#SVGID_34_);fill:#FFFFFF;}
	.splash101{opacity:0.4;clip-path:url(#SVGID_34_);fill:#DCDDE0;}
	.splash102{clip-path:url(#SVGID_34_);fill:#0076B7;}
	.splash103{fill:#B72C34;}
	.splash104{clip-path:url(#SVGID_36_);fill:#F1F3F7;}
	.splash105{clip-path:url(#SVGID_36_);}
	.splash106{clip-path:url(#SVGID_38_);fill:#F1F3F7;}
	.splash107{opacity:0.4;clip-path:url(#SVGID_38_);fill:#DCDDE0;}
	.splash108{clip-path:url(#SVGID_38_);fill:#0076B7;}
	.splash109{clip-path:url(#SVGID_38_);fill:#FFFFFF;}
	.splash110{clip-path:url(#SVGID_38_);}
	.splash111{fill:url(#SVGID_39_);}
	.splash112{fill:url(#SVGID_40_);}
	.splash113{fill:url(#SVGID_41_);}
	.splash114{fill:url(#SVGID_42_);}
	.splash115{fill:#A52323;}
	.splash116{clip-path:url(#SVGID_44_);fill:#F1F3F7;}
	.splash117{opacity:0.4;clip-path:url(#SVGID_44_);fill:#DCDDE0;}
	.splash118{clip-path:url(#SVGID_44_);fill:#0076B7;}
	.splash119{clip-path:url(#SVGID_44_);fill:#FFFFFF;}
	.splash120{clip-path:url(#SVGID_44_);}
	.splash121{fill:#023142;}
	.splash122{clip-path:url(#SVGID_46_);fill:#F7CFA2;}
	.splash123{clip-path:url(#SVGID_46_);}
	.splash124{opacity:0.3;fill:#E57257;}
	.splash125{opacity:0.2;}
	.splash126{fill:#656D60;}
	.splash127{clip-path:url(#SVGID_48_);fill:#F0BA7A;}
	.splash128{clip-path:url(#SVGID_48_);fill:#F1F3F7;}
	.splash129{opacity:0.4;clip-path:url(#SVGID_48_);fill:#DCDDE0;}
	.splash130{clip-path:url(#SVGID_48_);fill:#0076B7;}
	.splash131{clip-path:url(#SVGID_48_);fill:#FFFFFF;}
	.splash132{clip-path:url(#SVGID_48_);}
	.splash133{clip-path:url(#SVGID_50_);fill:#F1F3F7;}
	.splash134{opacity:0.4;clip-path:url(#SVGID_50_);fill:#DCDDE0;}
	.splash135{clip-path:url(#SVGID_50_);fill:#0076B7;}
	.splash136{clip-path:url(#SVGID_50_);fill:#FFFFFF;}
	.splash137{clip-path:url(#SVGID_50_);}
	.splash138{clip-path:url(#SVGID_52_);fill:#F1F3F7;}
	.splash139{opacity:0.4;clip-path:url(#SVGID_52_);fill:#DCDDE0;}
	.splash140{clip-path:url(#SVGID_52_);fill:#0076B7;}
	.splash141{clip-path:url(#SVGID_52_);fill:#FFFFFF;}
	.splash142{clip-path:url(#SVGID_52_);}
	.splash143{fill:#9E9E9E;}
	.splash144{fill:#878787;}
	.splash145{fill:url(#SVGID_53_);}
	.splash146{fill:#CE6117;}
	.splash147{fill:url(#SVGID_54_);}
	.splash148{fill:#EFE91B;}
	.splash149{clip-path:url(#SVGID_56_);fill:#F0BA7A;}
	.splash150{clip-path:url(#SVGID_56_);fill:#F1F3F7;}
	.splash151{opacity:0.4;clip-path:url(#SVGID_56_);fill:#DCDDE0;}
	.splash152{clip-path:url(#SVGID_56_);fill:#0076B7;}
	.splash153{clip-path:url(#SVGID_56_);fill:#FFFFFF;}
	.splash154{clip-path:url(#SVGID_56_);}
	.splash155{fill:#B27E49;}
	.splash156{clip-path:url(#SVGID_58_);fill:#F1F3F7;}
	.splash157{opacity:0.4;clip-path:url(#SVGID_58_);fill:#DCDDE0;}
	.splash158{clip-path:url(#SVGID_58_);fill:#0076B7;}
	.splash159{clip-path:url(#SVGID_58_);fill:#FFFFFF;}
	.splash160{clip-path:url(#SVGID_58_);}
	.splash161{fill:#8454D1;}
	.splash162{clip-path:url(#SVGID_60_);fill:#393D47;}
	.splash163{clip-path:url(#SVGID_60_);fill:#F0BA7A;}
	.splash164{clip-path:url(#SVGID_60_);fill:#F1F3F7;}
	.splash165{clip-path:url(#SVGID_60_);fill:#0076B7;}
	.splash166{clip-path:url(#SVGID_60_);fill:#004868;}
	.splash167{opacity:0.4;clip-path:url(#SVGID_60_);fill:#DCDDE0;}
	.splash168{clip-path:url(#SVGID_60_);fill:#FFFFFF;}
	.splash169{clip-path:url(#SVGID_60_);}
	.splash170{fill:none;stroke:#EA6D50;stroke-width:2;stroke-miterlimit:10;}
	.splash171{fill:url(#SVGID_61_);}
	.splash172{fill:#777777;}
	.splash173{fill:#A85848;}
	.splash174{fill:#E85646;}
	.splash175{fill:#EA4E39;}
	.splash176{clip-path:url(#SVGID_63_);fill:#F1F3F7;}
	.splash177{clip-path:url(#SVGID_63_);}
	.splash178{fill:#B23C18;}
	.splash179{fill:#6B2A05;}
	.splash180{fill:#B23C18;stroke:#6B2A05;stroke-miterlimit:10;}
	.splash181{fill:#DDAA78;}
	.splash182{fill:#211205;}
	.splash183{fill:none;stroke:#6B2A05;stroke-width:0.729;stroke-miterlimit:10;}
	.splash184{fill:#B23C18;stroke:#6B2A05;stroke-width:0.729;stroke-miterlimit:10;}
	.splash185{fill:#BBE8F2;}
	.splash186{opacity:0.3;fill:#F2F8F9;}
	.splash187{opacity:0.2;fill:#601515;}
	.splash188{fill:#FFFF00;}
	.splash189{fill:#594EEA;}
	.splash190{fill:#FF0B0B;}
	.splash191{fill:none;stroke:#3FBA51;stroke-width:8;stroke-miterlimit:10;}
	.splash192{fill:none;stroke:#3FBA51;stroke-width:7.2;stroke-miterlimit:10;}
	.splash193{fill:none;stroke:#3FBA51;stroke-width:7.2;stroke-linecap:round;stroke-miterlimit:10;}
	.splash194{fill:none;stroke:#3FBA51;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
	.splash195{fill:none;stroke:#3FBA51;stroke-width:5.1175;stroke-miterlimit:10;}
	.splash196{fill:#4F5565;}
	.splash197{fill:#D64E3C;}
	.splash198{fill:#F7A500;}
	.splash199{fill:#FBD303;}
	.splash200{fill:#FCFCFD;}
	.splash201{fill:#F8B517;}
	.splash202{fill:#F0582F;}
	.splash203{fill:#BAE8F2;}
	.splash204{fill:#F7EA72;}
	.splash205{clip-path:url(#SVGID_65_);fill:#F7EFDF;}
	.splash206{fill:none;stroke:#3FBA51;stroke-width:6.4304;stroke-miterlimit:10;}
	.splash207{font-family:'ElegantLux-Mager';}
	.splash208{font-size:42.5373px;}
	.splash209{letter-spacing:6;}
	.splash210{fill:url(#SVGID_66_);}
	.splash211{fill:url(#SVGID_67_);}
	.splash212{fill:url(#SVGID_68_);}
	.splash213{fill:url(#SVGID_69_);}
	.splash214{fill:url(#SVGID_70_);}
	.splash215{fill:url(#SVGID_71_);}
	.splash216{fill:url(#SVGID_72_);}
	.splash217{fill:url(#SVGID_73_);}
	.splash218{fill:url(#SVGID_74_);}
	.splash219{fill:url(#SVGID_75_);}
	.splash220{fill:url(#SVGID_76_);}
	.splash221{fill:url(#SVGID_77_);}
	.splash222{fill:url(#SVGID_78_);}
	.splash223{fill:url(#SVGID_79_);}
	.splash224{fill:url(#SVGID_80_);}
	.splash225{fill:url(#SVGID_81_);}
	.splash226{fill:url(#SVGID_82_);}
	.splash227{fill:url(#SVGID_83_);}
	.splash228{fill:url(#SVGID_84_);}
	.splash229{fill:url(#SVGID_85_);}
	.splash230{fill:url(#SVGID_86_);}
	.splash231{fill:url(#SVGID_87_);}
	.splash232{fill:url(#SVGID_88_);}
	.splash233{fill:url(#SVGID_89_);}
	.splash234{fill:url(#SVGID_90_);}
	.splash235{fill:url(#SVGID_91_);}
	.splash236{fill:url(#SVGID_92_);}
	.splash237{fill:url(#SVGID_93_);}
	.splash238{fill:url(#SVGID_94_);}
	.splash239{fill:url(#SVGID_95_);}
	.splash240{fill:url(#SVGID_96_);}
	.splash241{fill:url(#SVGID_97_);}
	.splash242{fill:url(#SVGID_98_);}
	.splash243{fill:url(#SVGID_99_);}
	.splash244{fill:url(#SVGID_100_);}
	.splash245{fill:url(#SVGID_101_);}
	.splash246{opacity:0.7;fill:#7BCDDB;}
	.splash247{fill:none;stroke:#F0BA7A;stroke-width:3;stroke-miterlimit:10;}
	.splash248{fill:none;stroke:#601515;stroke-width:2;stroke-miterlimit:10;}
	.splash249{fill:url(#SVGID_102_);}
	.splash250{fill:url(#SVGID_103_);}
	.splash251{fill:url(#SVGID_104_);}
	.splash252{fill:url(#SVGID_105_);}
	.splash253{fill:url(#SVGID_106_);}
	.splash254{fill:url(#SVGID_107_);}
	.splash255{fill:url(#SVGID_108_);}
	.splash256{opacity:0.5;fill:#302929;}
	.splash257{fill:#EF3F50;}
	.splash258{fill:url(#SVGID_109_);}
	.splash259{fill:url(#SVGID_110_);}
	.splash260{fill:url(#SVGID_111_);}
	.splash261{fill:url(#SVGID_112_);}
	.splash262{opacity:0.6;fill:#302929;}
	.splash263{fill:url(#SVGID_113_);}
	.splash264{fill:url(#SVGID_114_);}
	.splash265{fill:url(#SVGID_115_);}
	.splash266{fill:url(#SVGID_116_);}
	.splash267{fill:url(#SVGID_117_);}
	.splash268{fill:url(#SVGID_118_);}
	.splash269{fill:url(#SVGID_119_);}
	.splash270{fill:url(#SVGID_120_);}
	.splash271{fill:url(#SVGID_121_);}
	.splash272{fill:url(#SVGID_122_);}
	.splash273{fill:url(#SVGID_123_);}
	.splash274{fill:url(#SVGID_124_);}
	.splash275{fill:url(#SVGID_125_);}
	.splash276{fill:url(#SVGID_126_);}
	.splash277{fill:url(#SVGID_127_);}
	.splash278{fill:url(#SVGID_128_);}
	.splash279{fill:url(#SVGID_129_);}
	.splash280{fill:url(#SVGID_130_);}
	.splash281{fill:url(#SVGID_131_);}
	.splash282{fill:url(#SVGID_132_);}
	.splash283{fill:url(#SVGID_133_);}
	.splash284{fill:url(#SVGID_134_);}
	.splash285{fill:url(#SVGID_135_);}
	.splash286{fill:url(#SVGID_136_);}
	.splash287{fill:url(#SVGID_137_);}
	.splash288{fill:url(#SVGID_138_);}
	.splash289{fill:url(#SVGID_139_);}
	.splash290{fill:url(#SVGID_140_);}
	.splash291{fill:url(#SVGID_141_);}
	.splash292{fill:url(#SVGID_142_);}
	.splash293{fill:url(#SVGID_143_);}
	.splash294{fill:url(#SVGID_144_);}
	.splash295{fill:url(#SVGID_145_);}
	.splash296{fill:url(#SVGID_146_);}
	.splash297{fill:url(#SVGID_147_);}
	.splash298{fill:url(#SVGID_148_);}
	.splash299{fill:url(#SVGID_149_);}
	.splash300{fill:url(#SVGID_150_);}
	.splash301{fill:url(#SVGID_151_);}
	.splash302{fill:url(#SVGID_152_);}
	.splash303{fill:url(#SVGID_153_);}
	.splash304{fill:url(#SVGID_154_);}
	.splash305{fill:url(#SVGID_155_);}
	.splash306{fill:url(#SVGID_156_);}
	.splash307{fill:url(#SVGID_157_);}
	.splash308{fill:url(#SVGID_158_);}
	.splash309{fill:url(#SVGID_159_);}
	.splash310{fill:url(#SVGID_160_);}
	.splash311{fill:url(#SVGID_161_);}
	.splash312{fill:url(#SVGID_162_);}
	.splash313{fill:url(#SVGID_163_);}
	.splash314{fill:url(#SVGID_164_);}
	.splash315{fill:url(#SVGID_165_);}
	.splash316{fill:url(#SVGID_166_);}
	.splash317{fill:url(#SVGID_167_);}
	.splash318{fill:url(#SVGID_168_);}
	.splash319{fill:url(#SVGID_169_);}
	.splash320{fill:url(#SVGID_170_);}
	.splash321{fill:url(#SVGID_171_);}
	.splash322{fill:url(#SVGID_172_);}
	.splash323{fill:url(#SVGID_173_);}
	.splash324{fill:url(#SVGID_174_);}
	.splash325{fill:url(#SVGID_175_);}
	.splash326{fill:url(#SVGID_176_);}
	.splash327{fill:url(#SVGID_177_);}
	.splash328{fill:url(#SVGID_178_);}
	.splash329{fill:url(#SVGID_179_);}
	.splash330{fill:url(#SVGID_180_);}
	.splash331{fill:url(#SVGID_181_);}
	.splash332{fill:url(#SVGID_182_);}
	.splash333{fill:url(#SVGID_183_);}
	.splash334{fill:url(#SVGID_184_);}
	.splash335{fill:url(#SVGID_185_);}
	.splash336{fill:url(#SVGID_186_);}
	.splash337{fill:url(#SVGID_187_);}
	.splash338{fill:url(#SVGID_188_);}
	.splash339{fill:url(#SVGID_189_);}
	.splash340{fill:url(#SVGID_190_);}
	.splash341{fill:url(#SVGID_191_);}
	.splash342{fill:url(#SVGID_192_);}
	.splash343{fill:url(#SVGID_193_);}
	.splash344{fill:url(#SVGID_194_);}
	.splash345{fill:url(#SVGID_195_);}
	.splash346{fill:url(#SVGID_196_);}
	.splash347{fill:url(#SVGID_197_);}
	.splash348{fill:url(#SVGID_198_);}
	.splash349{fill:url(#SVGID_199_);}
	.splash350{fill:url(#SVGID_200_);}
	.splash351{fill:url(#SVGID_201_);}
	.splash352{fill:url(#SVGID_202_);}
	.splash353{fill:url(#SVGID_203_);}
	.splash354{fill:url(#SVGID_204_);}
	.splash355{fill:url(#SVGID_205_);}
	.splash356{fill:url(#SVGID_206_);}
	.splash357{fill:url(#SVGID_207_);}
	.splash358{fill:url(#SVGID_208_);}
	.splash359{fill:url(#SVGID_209_);}
	.splash360{fill:url(#SVGID_210_);}
	.splash361{fill:url(#SVGID_211_);}
	.splash362{fill:url(#SVGID_212_);}
	.splash363{fill:url(#SVGID_213_);}
	.splash364{fill:url(#SVGID_214_);}
	.splash365{fill:url(#SVGID_215_);}
	.splash366{fill:url(#SVGID_216_);}
	.splash367{fill:url(#SVGID_217_);}
	.splash368{fill:url(#SVGID_218_);}
	.splash369{fill:url(#SVGID_219_);}
	.splash370{fill:url(#SVGID_220_);}
	.splash371{fill:url(#SVGID_221_);}
	.splash372{fill:url(#SVGID_222_);}
	.splash373{fill:url(#SVGID_223_);}
	.splash374{fill:url(#SVGID_224_);}
	.splash375{fill:url(#SVGID_225_);}
	.splash376{fill:url(#SVGID_226_);}
	.splash377{fill:url(#SVGID_227_);}
	.splash378{fill:url(#SVGID_228_);}
	.splash379{fill:url(#SVGID_229_);}
	.splash380{fill:url(#SVGID_230_);}
	.splash381{fill:url(#SVGID_231_);}
	.splash382{fill:url(#SVGID_232_);}
	.splash383{fill:url(#SVGID_233_);}
	.splash384{fill:url(#SVGID_234_);}
	.splash385{fill:url(#SVGID_235_);}
	.splash386{fill:url(#SVGID_236_);}
	.splash387{fill:url(#SVGID_237_);}
	.splash388{fill:url(#SVGID_238_);}
	.splash389{fill:url(#SVGID_239_);}
	.splash390{fill:none;stroke:#9B9B97;stroke-miterlimit:10;}
	.splash391{fill:url(#SVGID_240_);}
	.splash392{fill:url(#SVGID_241_);}
	.splash393{fill:url(#SVGID_242_);}
	.splash394{fill:url(#SVGID_243_);}
	.splash395{fill:url(#SVGID_244_);}
	.splash396{fill:url(#SVGID_245_);}
	.splash397{fill:url(#SVGID_246_);}
	.splash398{fill:url(#SVGID_247_);}
	.splash399{fill:url(#SVGID_248_);}
	.splash400{fill:url(#SVGID_249_);}
	.splash401{fill:url(#SVGID_250_);}
	.splash402{fill:url(#SVGID_251_);}
	.splash403{fill:url(#SVGID_252_);}
	.splash404{fill:url(#SVGID_253_);}
	.splash405{fill:url(#SVGID_254_);}
	.splash406{fill:url(#SVGID_255_);}
	.splash407{fill:url(#SVGID_256_);}
	.splash408{fill:url(#SVGID_257_);}
	.splash409{fill:url(#SVGID_258_);}
	.splash410{fill:url(#SVGID_259_);}
	.splash411{fill:url(#SVGID_260_);}
	.splash412{fill:url(#SVGID_261_);}
	.splash413{fill:url(#SVGID_262_);}
	.splash414{fill:url(#SVGID_263_);}
	.splash415{fill:url(#SVGID_264_);}
	.splash416{fill:url(#SVGID_265_);}
	.splash417{fill:url(#SVGID_266_);}
	.splash418{fill:url(#SVGID_267_);}
	.splash419{fill:url(#SVGID_268_);}
	.splash420{fill:url(#SVGID_269_);}
	.splash421{fill:url(#SVGID_270_);}
	.splash422{fill:url(#SVGID_271_);}
	.splash423{fill:url(#SVGID_272_);}
	.splash424{fill:url(#SVGID_273_);}
	.splash425{fill:url(#SVGID_274_);}
	.splash426{fill:url(#SVGID_275_);}
	.splash427{fill:url(#SVGID_276_);}
	.splash428{fill:url(#SVGID_277_);}
	.splash429{fill:url(#SVGID_278_);}
	.splash430{fill:url(#SVGID_279_);}
	.splash431{fill:url(#SVGID_280_);}
	.splash432{fill:url(#SVGID_281_);}
	.splash433{fill:url(#SVGID_282_);}
	.splash434{fill:url(#SVGID_283_);}
	.splash435{fill:url(#SVGID_284_);}
	.splash436{fill:url(#SVGID_285_);}
	.splash437{fill:url(#SVGID_286_);}
	.splash438{fill:url(#SVGID_287_);}
	.splash439{fill:url(#SVGID_288_);}
	.splash440{fill:url(#SVGID_289_);}
	.splash441{fill:url(#SVGID_290_);}
	.splash442{fill:url(#SVGID_291_);}
	.splash443{fill:url(#SVGID_292_);}
	.splash444{fill:url(#SVGID_293_);}
	.splash445{fill:url(#SVGID_294_);}
	.splash446{fill:url(#SVGID_295_);}
	.splash447{fill:url(#SVGID_296_);}
	.splash448{fill:url(#SVGID_297_);}
	.splash449{fill:url(#SVGID_298_);}
	.splash450{fill:url(#SVGID_299_);}
	.splash451{fill:url(#SVGID_300_);}
	.splash452{fill:url(#SVGID_301_);}
	.splash453{fill:url(#SVGID_302_);}
	.splash454{fill:url(#SVGID_303_);}
	.splash455{fill:url(#SVGID_304_);}
	.splash456{fill:url(#SVGID_305_);}
	.splash457{fill:url(#SVGID_306_);}
	.splash458{fill:url(#SVGID_307_);}
	.splash459{fill:url(#SVGID_308_);}
	.splash460{fill:url(#SVGID_309_);}
	.splash461{fill:url(#SVGID_310_);}
	.splash462{fill:url(#SVGID_311_);}
	.splash463{fill:url(#SVGID_312_);}
	.splash464{fill:url(#SVGID_313_);}
	.splash465{fill:url(#SVGID_314_);}
	.splash466{fill:url(#SVGID_315_);}
	.splash467{fill:url(#SVGID_316_);}
	.splash468{fill:url(#SVGID_317_);}
	.splash469{fill:url(#SVGID_318_);}
	.splash470{fill:url(#SVGID_319_);}
	.splash471{fill:url(#SVGID_320_);}
	.splash472{fill:url(#SVGID_321_);}
	.splash473{fill:url(#SVGID_322_);}
	.splash474{fill:url(#SVGID_323_);}
	.splash475{fill:url(#SVGID_324_);}
	.splash476{fill:url(#SVGID_325_);}
	.splash477{fill:url(#SVGID_326_);}
	.splash478{fill:url(#SVGID_327_);}
	.splash479{fill:url(#SVGID_328_);}
	.splash480{fill:url(#SVGID_329_);}
	.splash481{fill:url(#SVGID_330_);}
	.splash482{fill:url(#SVGID_331_);}
	.splash483{fill:url(#SVGID_332_);}
	.splash484{fill:url(#SVGID_333_);}
	.splash485{fill:url(#SVGID_334_);}
	.splash486{fill:url(#SVGID_335_);}
	.splash487{fill:url(#SVGID_336_);}
	.splash488{fill:url(#SVGID_337_);}
	.splash489{fill:url(#SVGID_338_);}
	.splash490{fill:url(#SVGID_339_);}
	.splash491{fill:url(#SVGID_340_);}
	.splash492{fill:url(#SVGID_341_);}
	.splash493{fill:url(#SVGID_342_);}
	.splash494{fill:url(#SVGID_343_);}
	.splash495{fill:url(#SVGID_344_);}
	.splash496{fill:url(#SVGID_345_);}
	.splash497{fill:url(#SVGID_346_);}
	.splash498{fill:url(#SVGID_347_);}
	.splash499{fill:url(#SVGID_348_);}
	.splash500{fill:url(#SVGID_349_);}
	.splash501{fill:url(#SVGID_350_);}
	.splash502{fill:url(#SVGID_351_);}
	.splash503{fill:url(#SVGID_352_);}
	.splash504{fill:url(#SVGID_353_);}
	.splash505{fill:url(#SVGID_354_);}
	.splash506{fill:url(#SVGID_355_);}
	.splash507{fill:url(#SVGID_356_);}
	.splash508{fill:url(#SVGID_357_);}
	.splash509{fill:url(#SVGID_358_);}
	.splash510{fill:url(#SVGID_359_);}
	.splash511{fill:url(#SVGID_360_);}
	.splash512{fill:url(#SVGID_361_);}
	.splash513{fill:url(#SVGID_362_);}
	.splash514{fill:url(#SVGID_363_);}
	.splash515{fill:url(#SVGID_364_);}
	.splash516{fill:url(#SVGID_365_);}
	.splash517{fill:url(#SVGID_366_);}
	.splash518{fill:url(#SVGID_367_);}
	.splash519{fill:url(#SVGID_368_);}
	.splash520{fill:url(#SVGID_369_);}
	.splash521{fill:url(#SVGID_370_);}
	.splash522{fill:url(#SVGID_371_);}
	.splash523{fill:url(#SVGID_372_);}
	.splash524{fill:url(#SVGID_373_);}
	.splash525{fill:url(#SVGID_374_);}
	.splash526{fill:url(#SVGID_375_);}
	.splash527{fill:url(#SVGID_376_);}
	.splash528{fill:url(#SVGID_377_);}
	.splash529{clip-path:url(#SVGID_379_);}
	.splash530{clip-path:url(#SVGID_381_);}
	.splash531{fill:#F4F0A6;}
	.splash532{clip-path:url(#SVGID_383_);}
	.splash533{opacity:0.6;fill:none;stroke:#F7CFA2;stroke-miterlimit:10;}
	.splash534{fill:none;stroke:#F7CFA2;stroke-miterlimit:10;}
	.splash535{fill:#EAA56C;}
	.splash536{clip-path:url(#SVGID_385_);fill:#F7EFDF;}



	.list0{fill:#6BA8B2;}
	.list1{fill:#F7CFA2;}
	.list2{fill:#F0BA7A;}
	.list3{fill:#BBE8F2;}
	.list4{opacity:0.3;fill:#F2F8F9;enable-background:new    ;}
	.list5{opacity:0.2;fill:#601515;enable-background:new    ;}
	.list6{fill:none;}
	.list7{fill:#FFFF00;}
	.list8{fill:#594EEA;}
	.list9{fill:#3FBA51;}
	.list10{fill:#FF0B0B;}
	.list11{fill:#FFFFFF;}
	.list12{fill:#601515;}
	.list13{fill:#F9F9F9;}
	.list14{fill:none;stroke:#3FBA51;stroke-width:8;stroke-miterlimit:10;}
	.list15{fill:#EA6D50;}
	.list16{opacity:0.2;enable-background:new    ;}
	.list17{enable-background:new    ;}
	.list18{font-family:'Bungee-Regular';}
	.list19{font-size:26px;}
	.list20{font-family:'ElegantLux-Mager';}
	.list21{fill:none;stroke:#3FBA51;stroke-width:7.2;stroke-miterlimit:10;}
	.list22{fill:none;stroke:#3FBA51;stroke-width:7.2;stroke-linecap:round;stroke-miterlimit:10;}

